<div layout="column" layout-margin ng-controller="SettingsCtrl as setting">
	<div layout-margin class="annotation-filter-container">
		<md-content class="title-padding">
			<md-toolbar md-theme="titleSecondary">
				<div class="md-toolbar-tools">
					<h3>
						<span>Configura&#231;&#245;es</span>
					</h3>
				</div>
			</md-toolbar>
			
			
			
			<div class="settings-container">
				<div class="setting-section" ng-repeat="section in setting.sections">
					<md-toolbar class="light-gray">
						<div class="md-toolbar-tools">
							<h3>
								<span>{{ section.nome }}</span>
							</h3>
						</div>
					</md-toolbar>
					<md-list>
						<md-list-item class="setting-item"  ng-repeat="set in section.settings track by $index">
							<div flex layout="column">
								<div>
									<span>{{ set.descricao }}</span>
									<hr></hr>
								</div>
								<h4> {{ set.nome }} </h4>
								<div class="setting-item-content">
									<setting-item index="{{ $index }}" setting="set"></setting-item>
								</div>
								<md-divider></md-divider>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</div>
		</md-content>
	</div>
</div>