<div layout="row" layout-sm="column" layout-xs="column" layout-margin>
	<md-toolbar md-theme="title">
		<div class="md-toolbar-tools">
			<h3>
				<span>{{ variableTitle }}</span>
			</h3>
		</div>
	</md-toolbar>
</div>
<!-- Filtro de mês/ano -->
<div layout="row" layout-sm="column" layout-xs="column" layout-margin>
	<md-input-container class="md-block" flex-gt-sm>
		<label>M&#234;s</label>
		<md-select ng-model="filter.selectedMonth">
			<md-option ng-repeat="month in months track by $index" value="{{ $index }}">
				{{ month }}
			</md-option>
		</md-select>
	</md-input-container>
	<md-input-container class="md-block" flex-gt-sm>
		<label>Ano</label>
		<md-select ng-model="filter.selectedYear">
			<md-option ng-repeat="year in [years[0], years[1]] | makeRange" value="{{ year }}">
				{{year}}
			</md-option>
		</md-select>
	</md-input-container>
</div>

<div layout="row" layout-sm="column" layout-xs="column" layout-margin>
	<widget-small ng-repeat="variable in variables" icon="glyphicon glyphicon-tasks" label="{{ variable.descricao }}" value="{{ variable.indice }}" initials="{{ variable.sigla }}" id="{{ variable.id }}" ></widget-small>
	<div ng-hide="variables.length > 0" class="widget md-whiteframe-z2" layout="column" flex content-layout="row">
		<div class="no-item-select" flex layout="column" layout-align="center">
			<h2>N&#227;o foi encontrado nenhuma vari&#225;vel para o m&#234;s/ano selecionado</h2>
		</div>
	</div>
</div>